.gdbar img {
  width: 200px !important;
  height: 60px !important;
  color: red !important;
}

.gdbar {
  width: 275px !important;
  height: 70px !important;
}

aside.gdbar {
    background: darkblue !important;
}